<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879590032897-1c32ev98l7e5mnhuq72rilc4d6toaceq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879590032897-1c32ev98l7e5mnhuq72rilc4d6toaceq</string>
	<key>API_KEY</key>
	<string>AIzaSyBMiv9V7jQthGHjFn4vRY_xNEiTyx91HWM</string>
	<key>GCM_SENDER_ID</key>
	<string>879590032897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mysavingapp</string>
	<key>PROJECT_ID</key>
	<string>mysaving-b5915</string>
	<key>STORAGE_BUCKET</key>
	<string>mysaving-b5915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879590032897:ios:a2ad79563f00879b40e200</string>
</dict>
</plist>